<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Top Asked questions">
    <title>Title</title>
</head>
<body>
<p>Ask your question</p>
<form action="{% url "qa:ask" %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <p><input type="submit" value="Ask"></p>
</form>
</body>
</html>