<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Top Asked questions">
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Main page</a></li>
            <li><a href="/popular/">Popular</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% if questions %}
        <ul>
        {% for question in questions %}
            <li><a href="/question/{{ question.title }}">{{ question.title }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>

    <div id="switch-page">
        {% if questions.has_previous %}
            <a href="?page={{ questions.previous_page_number }}">previous</a>
        {% endif %}

        {% if questions.has_next %}
            <a href="?page={{ questions.next_page_number }}">next</a>
        {% endif %}
    </div>
</body>
</html>
