<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Top Asked questions">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Ask Questions</a>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href={% url "qa:index" %}>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url "qa:popular" %}>Popular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url "qa:ask" %}>Ask</a>
                </li>
            </ul>

            <a class="btn btn-outline-success" href="/">Sign up</a>
        </div>
    </nav>

    <div id="content" class="container">
        {% if question_list %}
        <ul>
        {% for question in question_list %}
            <li><a href="{% url 'qa:question' question.id %}">{{ question.title }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

    {% if is_paginated %}
    <div id="switch-page" class="container">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
    {% endif %}

    <script src="/js/bootstrap.min.js" />
</body>
</html>
