{% extends "qa/base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
    <div class="container">
        <form>
            <div class="row justify-content-lg-center">
                <div class="form-group col-4">
                    <label for="user_name">Login</label>
                    <input type="username" class="form-control" id="user_name" aria-describedby="usernameHelp" placeholder="Login" />
                </div>
            </div>
            <div class="row justify-content-lg-center">
                <div class="form-group col-4">
                    <label for="email_input">Email</label>
                    <input type="email" class="form-control" id="email_input" aria-describedby="emailHelp" placeholder="user@example.com" />
                </div>
            </div>
            <div class="row justify-content-lg-center">
                <div class="form-group col-4">
                    <label for="input_password">Password</label>
                    <input type="password" class="form-control" id="input_password" placeholder="Password" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
    </form>
    </div>
{% endblock %}
