{% extends "qa/base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{% url "qa:signup" %}" method="post">
            {% csrf_token %}
            <div class="row justify-content-lg-center">
                <div class="form-group col-4">
                    {{ form.username.errors }}
                    {{ form.username.label_tag }}
                    <input type="text" name="{{ form.username.name }}" class="form-control" id="{{ form.username.id_for_label }}"/>
                    {{ field }}
                </div>
            </div>
            <div class="row justify-content-lg-center">
                <div class="form-group col-4">
                    {{ form.email.errors }}
                    {{ form.email.label_tag }}
                    <input type="email" name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}"/>
                </div>
            </div>
            <div class="row justify-content-lg-center">
                <div class="form-group col-4">
                    {{ form.password.errors }}
                    {{ form.password.label_tag }}
                    <input type="text" name="{{ form.password.name }}" class="form-control" id="{{ form.password.id_for_label }}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
